
.carousel .legend {
  background: transparent;
  color: #000;
  font-weight: bold;
}

.carousel .slide img {
  border: none !important;
  box-shadow: none !important;
}
.zoom-container {
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.5s ease;
  height: 100%  ;
  width: 100%;
  object-fit: cover;
}

.zoom-image:hover {
  transform: scale(1.05);
}
